*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}



html,
body{
	width: 100%;
}

body{
	position: relative;
	max-height: 670px;
	overflow: hidden;
	background-color: #3f3f3f;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.444em;
	color: #fff;
}


	.strip{
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: #f3de4d;
		background-image: url('../img/pattern-strip.png');
		background-position: 0 50%;
		background-size: contain;
		background-repeat: repeat-x;
	}

		@media (-webkit-min-device-pixel-ratio: 2){
			.strip{
				background-image: url('../img/pattern-strip@2x.png');
			}
		}

		@media (min-device-pixel-ratio: 2){
			.strip{
				background-image: url('../img/pattern-strip@2x.png');
			}
		}

	@-webkit-keyframes stip{
		from { background-position: 0 50%; }
		to { background-position: 183px 50%; }
	}

	.strip_low{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: -21px;
		-webkit-transform: rotate(30deg);
		-webkit-animation: stip 27s infinite linear;
	}

	.strip_mid{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: 374px;
		-webkit-transform: rotate(-15deg);
		-webkit-animation: stip 20s infinite linear;
	}

	.strip_high{
		z-index: 5;
		top: 433px;
		-webkit-animation: stip 10s infinite linear;
	}





	.b-main{
		width: 900px;
		padding: 0 50px;
		margin: 0 auto;
		margin-top: 20px;
	}

		.b-main__left-column{
			float: left;
			width: 61.111%;
		}

			.b-main__link-logo{
				display: inline-block;
				width: 255px;
				height: 65px;
				margin-bottom: 75px;
				background-image: url(../img/logo.png);
				background-size: contain;
				background-repeat: no-repeat;
			}

				@media (-webkit-min-device-pixel-ratio: 2){
					.b-main__link-logo{
						background-image: url('../img/logo@2x.png');
					}
				}

				@media (min-device-pixel-ratio: 2){
					.b-main__link-logo{
						background-image: url('../img/logo@2x.png');
					}
				}

			.b-main__heading{
				font-size: 2em;
				line-height: 1.166em;
				margin-bottom: 1.4em;
			}

				.b-main__navigation-link{
					color: #f3de4d;
				}

					.b-main__navigation-link:hover,
					.b-main__navigation-link:focus{
						text-decoration: underline;
					}

		.b-main__right-column{
			float: right;
			width: 33.888%;
		}

			.b-main__picture{
				display: inline-block;
				margin-top: 50px;
				width: 392px;
				height: 600px;
				background-image: url('../img/nerpa.png');
				background-size: contain;
				background-repeat: no-repeat;
			}

				
				@media (-webkit-min-device-pixel-ratio: 2){
					.b-main__picture{
						background-image: url('../img/nerpa@2x.png');
					}
				}

				@media (min-device-pixel-ratio: 2){
					.b-main__picture{
						background-image: url('../img/nerpa@2x.png');
					}
				}
