*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

img{
	border: none;
}



html,
body{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
}

body{
	overflow-x: hidden;
	padding: 20px 0;
	background-color: #3f3f3f;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.444em;
	color: #fff;
}

    @media all and (min-height: 670px){
        body{
            position: fixed;
        }
    }

    @media all and (max-height: 600px), all and (max-width: 480px){
        body{
            height: auto;
        }
    }


	.strip{
		position: absolute;
		height: 40px;
		background-color: #f3de4d;
		background-image: url('../img/pattern-strip.png');
		background-position: 0 50%;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		background-repeat: repeat-x;
	}

		@media (-webkit-min-device-pixel-ratio: 2){
			.strip{
				background-image: url('../img/pattern-strip@2x.png');
			}
		}

		@media (min-device-pixel-ratio: 2){
			.strip{
				background-image: url('../img/pattern-strip@2x.png');
			}
		}

        @media all and (max-width: 480px), all and (max-height: 320px) {
            .strip {
                display: none;
            }
        }

	@-webkit-keyframes stip{
		from { background-position: 0 50%; }
		to { background-position: 183px 50%; }
	}

	@-moz-keyframes stip{
		from { background-position: 0 50%; }
		to { background-position: 183px 50%; }
	}

	@-o-keyframes stip{
		from { background-position: 0 50%; }
		to { background-position: 183px 50%; }
	}

	@keyframes stip{
		from { background-position: 0 50%; }
		to { background-position: 183px 50%; }
	}

	.strip_low{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: -21px;
		-webkit-transform: rotate(30deg);
		-moz-transform: rotate(30deg);
		-ms-transform: rotate(30deg);
		-o-transform: rotate(30deg);
		transform: rotate(30deg);
		-webkit-animation: stip 27s infinite linear;
		-moz-animation: stip 27s infinite linear;
		-o-animation: stip 27s infinite linear;
		animation: stip 27s infinite linear;
	}

	.strip_mid{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: 374px;
		-webkit-transform: rotate(-15deg);
		-moz-transform: rotate(-15deg);
		-ms-transform: rotate(-15deg);
		-o-transform: rotate(-15deg);
		transform: rotate(-15deg);
		-webkit-animation: stip 20s infinite linear;
		-moz-animation: stip 20s infinite linear;
		-o-animation: stip 20s infinite linear;
		animation: stip 20s infinite linear; 
	}

		@media all and (max-width: 980px) {
			.strip_mid{
				display: none;
			}
		}

	.strip_high{
		z-index: 2;
		top: 433px;
		width: 100%;
		-webkit-animation: stip 10s infinite linear;
		-moz-animation: stip 10s infinite linear;
		-o-animation: stip 10s infinite linear;
		animation: stip 10s infinite linear;
	}

		@media all and (max-width: 830px), all and (max-height: 664px) {
			.strip_high{
				top: 533px;
			}
		}





	.b-main{
		max-width: 900px;
		padding: 0 50px;
		margin: 0 auto;
	}

        .b-main:after{
            content: '';
            display: block;
            clear: both;
        }

		.b-main__left-column{
			z-index: 3;
			position: relative;
			float: left;
			width: 61.111%;
		}

         @media all and (max-width: 480px), all and (max-height: 320px) {
            .b-main__left-column{
                float: none;
                width: 100%;
            }
        }

			.b-main__link-logo{
				display: inline-block;
				width: 255px;
				height: 65px;
				margin-bottom: 70px;
				background-image: url(../img/logo.png);
				-webkit-background-size: contain;
				-moz-background-size: contain;
				-o-background-size: contain;
				background-size: contain;
				background-repeat: no-repeat;
			}

				@media (-webkit-min-device-pixel-ratio: 2){
					.b-main__link-logo{
						background-image: url('../img/logo@2x.png');
					}
				}

				@media (min-device-pixel-ratio: 2){
					.b-main__link-logo{
						background-image: url('../img/logo@2x.png');
					}
				}

			.b-main__heading{
				font-size: 1.9em;
				line-height: 1.166em;
				margin-bottom: 1.3em;
				background-color: rgba(63, 63, 63, 0.75);
			}

				.b-main__navigation-link{
					color: #f3de4d;
				}

					.b-main__navigation-link:hover,
					.b-main__navigation-link:focus{
						text-decoration: underline;
					}

			.b-main__text{
				background-color: rgba(63, 63, 63, 0.75);
			}

		.b-main__right-column{
			float: right;
			width: 33.888%;
		}

        @media all and (max-width: 480px), all and (max-height: 320px) {
            .b-main__right-column{
                display: none;
            }
        }

			.b-main__picture{
				display: inline-block;
				margin-top: 45px;
				width: 392px;
				height: 600px;
				background-image: url('../img/nerpa-policeman.png');
				-webkit-background-size: contain;
				-moz-background-size: contain;
				-o-background-size: contain;
				background-size: contain;
				background-repeat: no-repeat;
                transition: 0.6s;
                transition-property: width, height;
			}

				@media all and (max-width: 830px), all and (max-height: 664px) {
					.b-main__picture{
						width: 261px;
						height: 400px;
				    }
                }

				
				@media (-webkit-min-device-pixel-ratio: 2){
					.b-main__picture{
						background-image: url('../img/nerpa-policeman@2x.png');
					}
				}

				@media (min-device-pixel-ratio: 2){
					.b-main__picture{
						background-image: url('../img/nerpa@2x.png');
					}
				}
