*{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}



html,
body{
	width: 100%;
}

body{
	position: relative;
	max-height: 670px;
	overflow: hidden;
	background-color: #3f3f3f;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.444em;
	color: #fff;
}

	.b-strip{
		position: absolute;
		width: 100%;
		height: 40px;
		background-color: #f3de4d;
		background-repeat: repeat-x;
		background-position: 0 50%;
		font-size: 0;
	}

	.b-strip_low{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: -21px;
		-webkit-transform: rotate(30deg);
		/*-webkit-animation: strip-animation 10s infinite;
		-webkit-animation-timing-function: linear;*/
	}

	.b-strip_mid{
		z-index: -1;
		width: 200%;
		left: -50%;
		top: 374px;
		-webkit-transform: rotate(-15deg);
		/*-webkit-animation: strip-animation 10s infinite;
		-webkit-animation-timing-function: linear;*/
	}

	.b-strip_high{
		z-index: 5;
		top: 433px;
		/*-webkit-animation: strip-animation 10s infinite;
		-webkit-animation-timing-function: linear;*/
	}

	/*@-webkit-keyframes strip-animation {
		0% { background-position: 0 50%; }
		99% { background-position: 100% 50%; }
	}*/

		.b-strip__internal{
			position: absolute;
			top: 0;
			display: inline-block;
			width: 200%;
			height: 100%;
			background-repeat: repeat-x;
			background-position: 0 50%;
		}

		.b-strip__internal_high_1{
			background-image: url('../img/pattern-strip-2.png');
			left: 50%;
			background-color: green;
			-webkit-animation: strip-animation_1 15s infinite linear;
			
		}

		.b-strip__internal_high_2{
			background-image: url('../img/pattern-strip-2.png');
			left: -150%;
			background-color: indigo;
			-webkit-animation: strip-animation_2 15s infinite linear;
		}

			/* @-webkit-keyframes strip-animation_1 {
				0% { left: 50%; top: 0%;}
				50% { left: 200%; top: 0%;}
				51% { left: 200%; top: -2000%; }
				52% { left: -200%; top: -2000%; }
				53% { left: -200%; top: 0%; }
				100% { left: 50%; top: 0%;}
			}

			@-webkit-keyframes strip-animation_2 {
				0% { left: -150%; top: 0%;}
				50% { left: 50%; top: 0%;}
				51% { right: 200%; top: -2000%; }
				52% { right: -200%; top: -2000%; }
				53% { right: -200%; top: 0%; }
				100% { right: 50%; top: 0%;}
			} */

			
			@-webkit-keyframes strip-animation_1 {
				0% { left: 0%; top: 0;}
				24% { left: 100%; top: 0;}
				
				48% { left: 200%; top: 0; } /* скрытие */
				49% { left: 200%; top: -2000%; } /* скрытие */
				50% { left: -200%; top: -2000%; } /* скрытие */
				52% { left: -200%; top: 0; }
				
				100% { left: 0%; top: 0;}
			}

			@-webkit-keyframes strip-animation_2 {
				0% { left: -200%; top: 0; }
				24% { left: -100%; top: 0; }
				
				48% { left: 0%; top: 0; }
				49% { top: 0; }
				50% { top: 0; }
				52% { top: 0; }
				
				76% { left: 100%; top: 0; }
				77% { left: 100%; top: -2000%; }
				78% { left: -200%; top: -2000%; }
				
				100% { left: -200%; top: 0;}
			}





	.b-main{
		width: 900px;
		padding: 0 50px;
		margin: 0 auto;
		margin-top: 20px;
	}

		.b-main__left-column{
			float: left;
			width: 61.111%;
		}

			.b-main__link-logo{
				display: inline-block;
				clear: both;
				margin-bottom: 75px;
			}

			.b-main__heading{
				font-size: 2em;
				line-height: 1.166em;
				margin-bottom: 1.4em;
			}

				.b-main__navigation-link{
					color: #f3de4d;
				}

					.b-main__navigation-link:hover,
					.b-main__navigation-link:focus{
						text-decoration: underline;
					}

		.b-main__right-column{
			float: right;
			width: 33.888%;
		}

			.b-main__picture{
				/*max-height: 90%;*/
				margin-top: 50px;
			}
